<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Datos</title>
    </head>
    <body>
        <div id="contenedor">
            <!-- <h1>Bienvenido {{usuarioIngresado_new}}</h1> -->
            <button @click="show = !show, add = !add" v-show="!show">
                Agregar Nuevo Usuario
            </button>

            <form>
                <fieldset v-show="show">
                    <legend>Formulario Usuarios</legend>
                    <label>Nombre</label>
                    <input
                        type="text"
                        name="nombre"
                        v-model="name_form"
                        placeholder="Name"
                        :required="obligatorio"
                    />
                    <br />
                    <label>Username</label>
                    <input
                        type="text"
                        v-model="username_form"
                        name="username"
                        placeholder="Username"
                        :required="obligatorio"
                    />
                    <br />

                    <label>Email</label>
                    <input
                        type="email"
                        v-model="email_form"
                        name="email"
                        placeholder="example@gmail.com"
                        :required="obligatorio"
                    />
                    <br />

                    <label>Phone</label>
                    <input
                        type="tel"
                        v-model="phone_form"
                        name="phone"
                        placeholder="6123482563"
                        :required="obligatorio"
                    />
                    <br />

                    <label>Website</label>
                    <input
                        type="url"
                        v-model="website_form"
                        name="website"
                        placeholder="adrian.com"
                        :required="obligatorio"
                    />
                    <br />

                    <button @click="agregarUsuario" v-show="add" type="submit">
                        Aceptar
                    </button>
                    <button
                        @click="confirmarEdicion"
                        v-show="edition"
                        type="submit"
                    >
                        Aceptar Edicion
                    </button>
                </fieldset>
            </form>

            <table v-show="!show">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>email</th>
                        <th>Phone</th>
                        <th>website</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.id}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.website}}</td>
                        <td>
                            <button
                                @click="editarUsuario(u), edition = !edition"
                            >
                                Edit
                            </button>
                            <button @click="eliminarUsuario(u)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script type="text/javascript">
            const { createApp } = Vue;

            const app = createApp({
                data() {
                    return {
                        users: null,
                        show: false,
                        name_form: '',
                        username_form: '',
                        email_form: '',
                        phone_form: '',
                        website_form: '',
                        obligatorio: true,
                        add: false,
                        edition: false,
                    };
                },
                methods: {
                    agregarUsuario() {
                        // Obtiene el tamaño del arreglo para determinar el ultimo id y sumarle 1 para la creacion del nuevo
                        id_temp = Object.keys(this.users).length + 1;

                        // Se pushea como un objeto mas al arreglo de objetos que es "users"
                        this.users.push({
                            id: id_temp,
                            name: this.name_form,
                            username: this.username_form,
                            email: this.email_form,
                            phone: this.phone_form,
                            website: this.website_form,
                        });
                        this.show = false;
                    },
                    editarUsuario({
                        id,
                        name,
                        username,
                        email,
                        phone,
                        website,
                    }) {
                        // Rellenar formulario con Datos del usuario seleccionado
                        this.name_form = name;
                        this.username_form = username;
                        this.email_form = email;
                        this.phone_form = phone;
                        this.website_form = website;

                        // Formulario se abre
                        this.show = true;
                    },
                    eliminarUsuario({ id }) {
                        /*
                                        Se filtra el arreglo de usuarios retornando
                                        un arreglo nuevo donde esten todos los demas expecto el del id ingresado
                                    */
                        remaing = this.users.filter((usr) => usr.id != id);

                        this.users = remaing;
                    },
                    confirmarEdicion() {
                        // TODO: terminar accion de edicion 
                    },
                },
                mounted() {
                    let usuarioIngresado = localStorage.getItem('user');
                    usuarioIngresado = JSON.parse(usuarioIngresado);

                    fetch('data/users.json')
                        .then((resp) => resp.json())
                        // Se rellena el atributo users (arreglo) con toda la respuesta del fetch
                        .then((resp) => (this.users = resp))
                        .catch((err) => console.error(err));
                },
            }).mount('#contenedor');
        </script>
    </body>
</html>
