<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Datos</title>
    </head>
    <body>
        <div id="contenedor">
            <!-- <h1>Bienvenido {{usuarioIngresado_new}}</h1> -->
            <button @click="show = !show" v-show="!show">
                Agregar Nuevo Usuario
            </button>

            <form action="">
                <fieldset v-show="show">
                    <legend>Datos de acceso</legend>
                    <label for="">Nombre</label>
                    <input
                        type="text"
                        name="nombre"
                        v-model="user_form.name"
                        placeholder="Name"
                        :required="obligatorio"
                    />
                    <br />
                    <label for="">Username</label>
                    <input
                        type="text"
                        v-model="user_form.username"
                        name="username"
                        placeholder="Username"
                        :required="obligatorio"
                    />
                    <br />

                    <label for="">Email</label>
                    <input
                        type="email"
                        v-model="user_form.email"
                        name="email"
                        placeholder="example@gmail.com"
                        :required="obligatorio"
                    />
                    <br />

                    <label for="">Phone</label>
                    <input
                        type="tel"
                        v-model="user_form.phone"
                        name="phone"
                        placeholder="6123482563"
                        :required="obligatorio"
                    />
                    <br />

                    <label for="">Website</label>
                    <input
                        type="url"
                        v-model="user_form.website"
                        name="website"
                        placeholder="adrian.com"
                        :required="obligatorio"
                    />
                    <br />

                    <button @click="agregarUsuario" type="submit">
                        Agregar Usuario
                    </button>
                </fieldset>
            </form>

            <table v-show="!show">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>email</th>
                        <th>Phone</th>
                        <th>website</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.id}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.website}}</td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script type="text/javascript">
            const { createApp } = Vue;

            const app = createApp({
                data() {
                    return {
                        users: null,
                        show: false,
                        user_form: {
                            name: '',
                            username: '',
                            email: '',
                            phone: '',
                            website: '',
                        },
                        obligatorio: true,
                    };
                },
                methods: {
                    agregarUsuario(e) {
                        e.preventDefault();
                        this.users.push(this.user_form);
                        this.show = false;
                    },
                },
                mounted() {
                    let usuarioIngresado = localStorage.getItem('user');
                    usuarioIngresado = JSON.parse(usuarioIngresado);

                    fetch('data/users.json')
                        .then((resp) => resp.json())
                        // Se rellena el atributo users (arreglo) con toda la respuesta del fetch
                        .then((resp) => (this.users = resp))
                        .catch((err) => console.error(err));
                },
            }).mount('#contenedor');
        </script>
    </body>
</html>
