<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Vue Exercises</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div id="contenedor">
            <form action="">
                <fieldset>
                    <legend>Datos de acceso</legend>
                    <label for="">Correo</label>
                    <input
                        type="email"
                        name="email"
                        v-model="email"
                        placeholder="Email"
                        required
                    />
                    <label for="">Contraseña</label>
                    <input
                        type="password"
                        v-model="password"
                        name="email"
                        placeholder="Password"
                        required
                    />
                    <br />
                    <button @click="login" type="submit">Acceder</button>
                </fieldset>
            </form>
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script type="text/javascript">
            const { createApp } = Vue;

            const app = createApp({
                data() {
                    return {
                        users: null,
                        email: '',
                        password: '',
                    };
                },
                methods: {
                    login(e) {
                        e.preventDefault();
                        this.users.map(({ name, username, email, password }) => {
                            if ((this.email === email)) {
                                if(this.password === password) {
                                    let usr = {
                                        name_t: name,
                                        username_t: username,
                                        email_t: email,
                                    }
                                    localStorage.setItem('user', JSON.stringify(usr));
                                    window.location.href = 'anotherPage.html';
                                }
                            }
                        });
                    },
                },
                mounted() {

                    fetch('data/users.json')
                        .then((resp) => resp.json())
                        // Se rellena el atributo users (arreglo) con toda la respuesta del fetch
                        .then((resp) => (this.users = resp))
                        .catch((err) => console.error(err));
                },
            }).mount('#contenedor');
        </script>
    </body>
</html>
